html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* :root {
    --main-tan: rgb(247, 212, 146);
} */

body {
  font-size: 1.8rem;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

.main-container {
  padding: 25px;
  display: grid;
  gap: 20px;
  justify-items: center;
}

h1 {
  font-size: 2.5rem;
}

.board-div {
  display: grid;
  gap: 50px;
}

.current-player-board,
.other-player-board {
  display: grid;
  height: 450px;
  width: 450px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  gap: 5px;
  padding: 5px;
  background-color: aqua;
}

.square {
  display: grid;
  place-items: center;
  border: 1px solid black;
  background-color: white;
  font-size: 2.2rem;
}