html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --row-column-blue: rgb(230, 247, 254);
  --button-hover: rgb(208, 238, 250);
  --button-active: rgb(176, 230, 252);
  --gray-button-bg-color: rgb(236, 236, 236);
  --gray-button-hover: rgb(222, 222, 222);
  --gray-button-active: rgb(203, 203, 203);
}

body {
  font-size: 1.8rem;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

.main-container {
  padding: 25px 50px 25px 50px;
  display: grid;
  gap: 35px;
  justify-items: center;
  min-width: min-content;
}

.top-line {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
  grid-column: 2;
}

.top-line-menu-div {
  grid-column: 3;
  justify-self: end;
  padding-right: 25px;
  position: relative;
}

.top-line-menu-div > button {
  padding: 8px 20px;
  font-size: 2rem;
  background-color: var(--gray-button-bg-color);
  border: 2px outset silver;
  border-radius: 25px;
  color: black;
}

.top-line-menu-div .options-btn-hover {
  background-color: var(--gray-button-hover);
}

.top-line-menu-div .options-btn-active {
  background-color: var(--gray-button-active);
}

.options-button-menu {
  position: absolute;
  right: 0px;
  top: 110%;
  margin-right: 25px;
  width: max-content;
  display: grid;
  border: 2px solid var(--gray-button-active);
  border-radius: 10px;
  background-color: var(--gray-button-bg-color);
  padding: 10px 0px;
  color: rgb(46, 46, 46);
}

.options-menu-row {
  padding: 15px 100px 15px 20px;
  background-color: var(--gray-button-bg-color);
  color: black;
  font-weight: 500;
  font-size: 1.7rem;
  border: none;
  text-align: left;
}

.options-menu-row:hover {
  background-color: rgb(203, 203, 203);
}

.hidden {
  visibility: hidden;
}

.game-div {
  display: flex;
  column-gap: 55px;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
}

.ship-placement-section {
  width: 500px;
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(2, max-content);
}

.ship-placement-text-div {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  height: 55px;
  display: grid;
  align-items: center;
}

.ship-selection-div {
  display: grid;
  gap: 25px;
}

.ship-selection-line {
  display: flex;
  align-items: center;
  gap: 25px;
}

.ship-selection-line > p,
.edit-ship-button {
  font-size: 1.6rem;
}

.placed-text-placed {
  color: green;
}

.placed-text-not-placed {
  color: red;
}

.edit-ship-button {
  padding: 4px 8px;
  border-radius: 12px;
  border: 2px outset silver;
  background-color: var(--row-column-blue);
  color: black;
}

.edit-ship-button:hover {
  background-color: var(--button-hover);
}

.edit-ship-button:active {
  background-color: var(--button-active);
  border-style: inset;
}

.ship-selection-button {
  font-size: 1.9rem;
  width: max-content;
  padding: 8px 10px;
  background-color: var(--row-column-blue);
  color: black;
  border: 2px dotted darkblue;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0 0 5px silver;
}

.ship-selection-button > p {
  width: 110px;
  text-align: left;
}

.ship-selection-button.active-ship {
  border-style: solid;
  box-shadow: 0 0 10px gray;
}

.ship-selection-button.inactive-ship {
  background-color: var(--gray-button-bg-color);
  border-color: black;
  color: gray;
  div {
    div {
      background-color: gray;
    }
  }
}

.ship-selection-button.ship-hover {
  box-shadow: 0 0 10px gray;
  cursor: pointer;
}

.ship-placement-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.ship-placement-buttons > button {
  font-size: 1.6rem;
  padding: 8px 20px;
  border-radius: 10px;
  border: 2px outset silver;
  font-weight: 500;
  box-shadow: 0 0 5px silver;
  color: black;
}

.ship-placement-random-button {
  background: linear-gradient(
    to bottom right,
    rgb(223, 49, 223),
    rgb(0, 255, 170)
  );
  color: rgb(47, 0, 29);
}

.ship-placement-buttons > .reset-board-button {
  background-color: rgb(150, 0, 0);
  color: white;
}

.start-game-button {
  background-color: rgb(45, 203, 45);
  color: white;
}

.ship-placement-buttons > button:hover {
  box-shadow: 0 0 6px gray;
}

.ship-placement-buttons > button:active {
  border-style: inset;
}

.info-div {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 25px;
  width: 250px;
  line-height: 1.5;
  font-size: 1.7rem;
}

.info-div-players {
  justify-self: center;
  display: grid;
  column-gap: 25px;
  grid-template-columns: max-content 1fr;
  font-weight: 500;
  font-size: 1.9rem;
}

.info-active-player {
  color: green;
}

.info-opponent {
  color: red;
}

.info-div-text-div {
  display: grid;
  align-content: center;
}

.info-div-text-div > p:first-child {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.info-div-text-div > p:not(:first-child):not(:last-child) {
  margin-bottom: 15px;
}

.info-div-text-div.info-div-player-attack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 35px;
  font-size: 1.8rem;
}

.info-div-text-div-top > p:first-child {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.info-div-text-div-top > p:last-child {
  font-size: 2.2rem;
}

.info-div-text-div.info-div-player-attack > p:not(:first-child) {
  margin-bottom: 0;
  font-size: 2rem;
}

.sink-text-div > p:first-child,
.game-over-div > p:first-child {
  font-size: 2.8rem;
  font-weight: bold;
  color: red;
}

.sink-text-div > p:first-child {
  margin-bottom: 10px;
}

.sink-text-div > p + p {
  font-size: 2.2rem;
  font-weight: 500;
}

.game-over-div > p:first-child {
  margin-bottom: 20px;
}

.game-over-div > p:last-child {
  font-size: 2.5rem;
}

.info-div-text-div-bottom {
  font-size: 2.2rem;
  color: darkblue;
  font-weight: bold;
}

.info-div-text-div-bottom > p {
  margin-bottom: 30px;
}

.info-div-text-div-bottom > button {
  padding: 10px 45px;
  border-radius: 25px;
  border: 2px outset silver;
  background-color: rgb(45, 203, 45);
  color: white;
}

.info-div-text-div-bottom > button:hover {
  background-color: rgb(36, 182, 36);
}

.info-div-text-div-bottom > button:active {
  background-color: rgb(27, 158, 27);
  border-style: inset;
}

.game-over-buttons {
  margin-top: 10px;
  display: grid;
  gap: 20px;
  justify-content: center;
}

.game-over-buttons > button,
.main-container > button,
.player-buttons-div > button,
#new-game-dialog > form > button,
.restart-game-dialog-buttons > button,
.next-player-dialog-buttons > button {
  background-color: var(--row-column-blue);
  border: 2px outset aqua;
  border-radius: 25px;
  color: black;
}

.game-over-buttons > button,
.main-container > button {
  width: 180px;
}

.game-over-buttons > button {
  padding: 12px 0;
}

.main-container > button {
  padding: 15px 5px;
  font-size: 1.9rem;
}

.game-over-buttons > button:hover,
.main-container > button:hover,
.player-buttons-div > button:hover,
#new-game-dialog > form > button:hover,
.restart-game-dialog-buttons > button:hover,
.next-player-dialog-buttons > button:hover {
  background-color: var(--button-hover);
}

.game-over-buttons > button:active,
.main-container > button:active,
.player-buttons-div > button:active,
#new-game-dialog > form > button:active,
.restart-game-dialog-buttons > button:active,
.next-player-dialog-buttons > button:active {
  background-color: var(--button-active);
  border-style: inset;
}

.opponent-section,
.active-player-section {
  display: grid;
  gap: 20px;
  justify-items: center;
}

.board-div {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 10fr;
}

.column-labels {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr);
}

.column-labels > p,
.row-labels > p {
  display: grid;
  place-items: center;
  background-color: var(--row-column-blue);
}

.column-labels > p {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}

.column-labels > p:last-child {
  border-right: 1px solid gray;
}

.row-labels {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 1fr;
}

.row-labels > p {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  width: 42.5px;
}

.row-labels > p:last-child {
  border-bottom: 1px solid gray;
}

.board {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  height: 425px;
  width: 425px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  gap: 5px;
  padding: 5px;
  background-color: aqua;
}

.square,
.square.wait,
.square.game-over-regular-wait {
  display: grid;
  place-items: center;
  border: 1px solid black;
  background-color: white;
  font-size: 2.2rem;
  font-weight: bold;
}

.square.inactive-square {
  background-color: var(--gray-button-active);
  color: gray;
}

.neutral-square {
  border: 3px dashed rgb(255, 255, 0);
}

.position-1 {
  border: 3px dashed rgb(255, 52, 86);
}

.position-2 {
  border: 3px dashed rgb(61, 190, 14);
}

.position-3 {
  border: 3px dashed rgb(247, 35, 247);
}

.position-4 {
  border: 3px dashed rgb(207, 97, 7);
}

.board-div.inactive-board {
  .column-labels {
    p {
      background-color: var(--gray-button-bg-color);
      color: gray;
    }
  }
  .row-labels {
    p {
      background-color: var(--gray-button-bg-color);
      color: gray;
    }
  }
  .board {
    background-color: var(--gray-button-bg-color);
    .square {
      background-color: var(--gray-button-bg-color);
      color: gray;
    }
  }
}

.active-player-ship,
.square.position-group-hover,
.active-player-ship.wait {
  background-color: darkblue;
  color: white;
  border: 2px solid silver;
}

.square.position-group-hover {
  cursor: pointer;
}

.hit,
.square.game-over-hit-ship-wait {
  background-color: red;
  color: yellow;
  border: 2px solid silver;
}

.miss {
  background-color: black;
}

.is-sunk {
  background-color: gray;
  color: black;
}

.missed-ship {
  background-color: darkred;
  color: silver;
  border: 2px solid silver;
}

.hover {
  background-color: lightgray;
  cursor: pointer;
}

.bottom-div {
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  font-weight: bold;
}

.ship-div {
  display: flex;
  gap: 2px;
}

.ship-div > div,
.empty-square-div {
  height: 30px;
  width: 30px;
}

.ship-div > div {
  background-color: darkblue;
  color: white;
  display: grid;
  place-items: center;
  border: 2px solid silver;
}

/* dialog stuff below */

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-cancel-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 28px;
  height: 28px;
  background-color: red;
  border: none;
  border-left: 2px solid darkred;
  border-bottom: 2px solid darkred;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(88, 0, 0);
}

.dialog-cancel-btn:hover {
  background-color: rgb(215, 0, 0);
}

.dialog-cancel-btn:active {
  background-color: red;
}

#new-game-dialog::backdrop,
#restart-game-dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.3);
}

#next-player-ship-placement-dialog::backdrop,
#next-player-turn-dialog::backdrop,
#last-turn-dialog::backdrop {
  background-color: var(--row-column-blue);
}

#next-player-ship-placement-dialog,
#next-player-turn-dialog,
#last-turn-dialog {
  padding: 24px;
  font-size: 2.2rem;
  line-height: 1.5;
  border: 4px aqua;
  border-style: ridge;
  box-shadow: 0 0 15px 2px silver;
}

#next-player-ship-placement-dialog > div,
#next-player-turn-dialog > div,
#last-turn-dialog > div {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 18px;
}

.next-player-dialog-player1-name,
.next-player-dialog-player2-name,
.ship-sunk-text {
  font-weight: bold;
}

.next-player-dialog-player1-name,
.ship-sunk-text {
  color: red;
}

.next-player-dialog-player2-name {
  color: green;
}

.next-player-dialog-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.next-player-dialog-buttons > button {
  padding: 8px 25px;
}

#new-game-dialog {
  padding: 60px 20px 30px 20px;
  font-size: 2.2rem;
  line-height: 1.5;
}

.choose-players-div {
  text-align: center;
}

.player-buttons-div {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 25px;
  font-size: 1.9rem;
}

.player-buttons-div > button {
  padding: 8px 20px;
}

#new-game-dialog > form {
  display: grid;
  gap: 25px;
  font-size: 2.2rem;
}

#new-game-dialog > form > p {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

#p1-name,
#p2-name {
  padding: 5px;
  font-size: 1.9rem;
}

#new-game-dialog > form > button {
  width: max-content;
  justify-self: center;
  padding: 8px 35px;
  font-size: 1.9rem;
  margin-bottom: -5px;
}

#restart-game-dialog {
  padding: 25px 20px 25px 20px;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.5;
}

#restart-game-dialog > p:first-child {
  font-size: 2.5rem;
  margin-bottom: 8px;
}

.restart-game-dialog-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.restart-game-dialog-buttons > button {
  padding: 8px 25px;
  font-size: 1.9rem;
}
